.title
  width: 80px
  text-align: center
  line-height: 35px
  padding-left: 12px

.width50
  width: 49%
  margin-right: 0

.el-form--inline
  .el-form-item__content
    width: 70%;

.el-date-editor--datetimerange
  .el-input
    width: 100%;


