.balances
  display flex
  height 100px
  justify-content space-between
  align-items center
  padding-bottom 25px
  .balance
    width 33%
    height 100%
    display flex
    justify-content center
    align-items center
    flex-direction column
    color white
    .amount
      font-size 26px
    .txt
      font-size 14px

    &.one
      background-color #fb7884
    &.two
      background-color #03a9f3
    &.three
      background-color #9675ce

.handle-box {
  margin-bottom: 20px;
}

.handle-select {
  width: 120px;
}

.handle-input {
  width: 300px;
  display: inline-block;
}
